/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
    font-family: 'Mouse Memoirs', sans-serif;
}

body {
    background-image: url("https://i.imgur.com/hU98e8J.jpg");
    background-size: 10%;
}
.category-container {
    display: flex;
    justify-content: center;
}

.category {
    height: 500px;
    width: 25%;
    margin: 10px;
    border: 1px solid #666;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
}

#landing-greeting {
    text-align: center;
}

.nav-wrapper img {
    height: 62px;
    width: 62px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

#a-page {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.a-head {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    margin: 15px auto;    
}

.a-head h3 {
    text-align: left;
    padding-left: 10px;
    margin: 10px;
}

#a-image {

}

#a-image img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
}

#a-description {
    font-size: 18px;
    padding: 10px;
    text-align: justify;
}

#new-review {
    background-color: white;
    padding: 15px;
    border: 2px solid black;
    margin: 0 auto;
    border-radius: 10px;
}

.rf-content input {
    border: 1px solid black !important;
}

.stars, .wyr {
    width: 50%;
}

#all-reviews {
    font-size: 24px;
    text-align: left;
    border-radius: 10px;
    background-color: white;    
}

#all-reviews h3 {
    margin: 10px;
}

.review {
    padding: 10px;
}

.review div:last-child {
    border: 1px solid black;
    padding: 5px;
}

.highlight {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

th, td {
    padding: 15px 100px !important;
    font-size: 20px
}

#a-index-head {
    text-align: center;
}

button {
    border-radius: 10px !important;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px !important;
}

button input {
    color: white;
}

.profile-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}


.profile-image {
    height: 80%;
    padding: 10px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.profile-reviews {
    width: 425px;
    height: 500px;
    overflow: auto;

}

.profile-info {
    width: 425px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}

.profile-name {
    height: 20%;
    font-size: 48px;
    padding: 10px;
}

.cat-name {
    text-align: center;
}

.cat-card-title a:last-child{
    color:#215696 !important;
    font-size: 20px;
}
