<h1>Categories Landing page</h1>

<% @categories.each do |category| %>
<h3><%= link_to(category.genre, category_path(category)) %></h3>
<% end %>

<a href="/attractions"><p>all attractions -></p></a>

