<h1>Specific Category Page</h1>
<h1><%= @category.genre %></h1>

  <div class="row attraction">
<% @attractions.each do |attraction| %>
    <div class="col s6 m4">
      <div class="card">
      <div class="card-action">
          <a href="#"><%= link_to(attraction.name, attraction_path(attraction)) %></a>
        </div>
        <div class="card-image">
          <img src="<%= attraction.ride_image %>">
          
        </div>
      </div>
    </div>

<% end %>
  </div>

