<h1 id="a-index-head">Attractions</h1>
<table class="highlight">
  <thead>
    <tr>
        <th>Attraction</th>
        <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @attractions.each do |attraction| %>
    <tr>
      <td><%= link_to(attraction.name, attraction_path(attraction), :data => { turbolinks: false }) %></td>
      <td><%= link_to(attraction.category.genre, category_path(attraction.category)) %></td>
    </tr>
      <% end %>
  </tbody>
</table>




            